.container {
  max-width: 720px;
  margin: 4rem auto;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;

  h1 {
    color: var(--white-c);
  }

  button svg {
    color: var(--green-900);
  }
}

.containerHeader {
  display: flex;
  flex-direction: row;

  button {
    background: transparent;
    border: 0;
    margin: 0 0 0 1rem;
  }
}

.listOrders {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.orderItem {
  display: flex;
  flex-direction: row;
  background-color: var(--dark-900);
  margin: 0 0 1rem 0;
  align-items: center;
  border-radius: 0.3rem;

  button {
    display: flex;
    border: 0;
    background: transparent;
    font-size: 1.2rem;
    color: var(--white-c);
    height: 60px;
    align-items: center;
  }

  span:nth-child(2) {
    margin: 0 1rem 0 0.2rem;
  }
}

.tag {
  width: 9px;
  background-color: var(--green-900);
  height: 60px;
  border-radius: 0.3rem 0 0 0.3rem;
  margin: 0 1rem 0 0;
}

.status {
  margin: 0 0 0 1rem;
  padding: 0.2rem 1.2rem;
  border-radius: 0.2rem;
  font-weight: 600;
}

.aberto {
  color: var(--yellow-700);
}

.atendido {
  color: var(--green-900);
}

.cancelado {
  color: var(--red-900);
}

.emptyList {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--gray-100);
}

.refresh-animation {
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
